%transition{
    transition: all ease-in-out .25s;
}

%full-width{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

%select-none{
    user-select: none;
    pointer-events: none;
}

%block-center{
    margin-left: auto;
    margin-right: auto;
}

%uppercase{
    text-transform: uppercase;
}

%stacking-context{
    position: relative;
    isolation: isolate;
}

%common-pseudo{
    content: '';
    position: absolute;
}

%card-gap{
    margin-bottom: $gutter;
}

%rounded-pill{
    border-radius: 50rem;
}

%border-none{
    border: 0;
}

%fw-light{
    font-weight: 300;
}

%fw-regular{
    font-weight: 400;
}

%fw-medium{
    font-weight: 500;
}

%fw-semibold{
    font-weight: 600;
}

%fw-bold{
    font-weight: 700;
}

%fw-extrabold{
    font-weight: 800;
}