.form{
    &-label{
        color: $color-gray;
        @include min-lg{
            font-size: toRem(18);
        }
        font-weight: 600;
        font-family: $font-primary;
    }
    &-control,
    &-select
    {
        --bs-body-bg: #FAFAFA;
        --bs-border-color: var(--bs-body-bg);
        color: #3F3C3C;
        @include min-lg{
            font-size: toRem(20);
        }
        padding: toRem(15) toRem(25);
        
        &::placeholder{
            color: currentColor;
            opacity: 1;
        }
        &:focus{
            color: $color-black;
            box-shadow: none;
            border-color: #777777;
        }

        option{
            font-size: toRem(14);
        }
    }
}

.form-control:focus + .input-group-text{
    border-color: #777777;
}

.input-group-text{
    background-color: #FAFAFA;
    border-color: #FAFAFA;
    transition: border-color .15s ease-in-out;
    font-size: toRem(18);

    &:focus-visible{
        color: $color-primary;
    }

    &:is(.show) .input-group-text__before,
    &:not(.show) .input-group-text__after
    {
        display: none;
    }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration
{
	display: none;
}

select{
    cursor: pointer;
}