.pin-case{
    @include min-lg{
        padding: toRem(20);
        border-radius: toRem(30);
        box-shadow: 0 4px 20px rgba($color: #000000, $alpha: 0.1);
        margin-top: toRem(40);
        margin-bottom: toRem(40);
    }
    padding-bottom: toRem(40);
}

.comment-area{
    max-height: min(toRem(600), calc((var(--vh) * 100) - 100px));
    overflow: auto;
    @extend %custom-scrollbar;
}